/UnityGameTest/Library/
/UnityGameTest/Temp/
/UnityGameTest/Obj/
/UnityGameTest/Build/
/UnityGameTest/Builds/
/UnityGameTest/Logs/
/UnityGameTest/UserSettings/
/UnityGameTest/MemoryCaptures/
/UnityGameTest/Recordings/
/UnityGameTest/Assets/AssetStoreTools*
/UnityGameTest/.vs/
/UnityGameTest/.gradle/
/UnityGameTest/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
/UnityGameTest/sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
/UnityGameTest/crashlytics-build.properties
/UnityGameTest/Assets/AddressableAssetsData/*/*.bin*
/UnityGameTest/Assets/StreamingAssets/aa.meta
/UnityGameTest/Assets/StreamingAssets/aa/*
a
